Source: tt-rss
Section: web
Priority: optional
Maintainer: Sebastian Reichel <sre@debian.org>
Uploaders: Marcelo Jorge Vieira (metal) <metal@debian.org>
Build-Depends: debhelper (>= 9~),
               dh-systemd (>= 1.5),
               libjs-prototype (= 1.7.1-3)
Standards-Version: 3.9.8
Homepage: http://tt-rss.org
Vcs-Git: https://anonscm.debian.org/cgit/collab-maint/tt-rss.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/tt-rss.git

Package: tt-rss
Built-Using: prototypejs (= 1.7.1-3)
Architecture: all
Depends: ${misc:Depends},
         dbconfig-common,
         dbconfig-mysql | dbconfig-pgsql |  dbconfig-no-thanks,
         libapache2-mod-php (>= 5.4.0) | php-cgi (>= 5.4.0) | php (>= 5.4.0),
         php-cli,
         php-json,
         php-mbstring,
         php-mysql | php-pgsql,
         php-xml
Recommends: apache2 | lighttpd | httpd,
            php-curl,
            php-gd,
            php-mcrypt
Suggests: sphinxsearch,
          php-apc
Description: Tiny Tiny RSS - web-based news feed (RSS/Atom) aggregator
 Tiny Tiny RSS is designed to allow you to read news from any location, while
 feeling as close to a real desktop application as possible.
 .
 Feature list:
  * server-side application - user only needs a web browser;
  * support for RSS, RDF, Atom feeds;
  * streamlined interface using AJAX;
  * authentication for reading protected feeds;
  * OPML import/export;
  * feed aggregation;
  * keyboard shortcuts;
  * content filtering;
  * JSON-based RPC API.
