Source: thunderbird-stable
Section: mail
Priority: optional
Maintainer: Vincent Cheng <vcheng@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.mozillamessaging.com/en-US/thunderbird/

Package: thunderbird-stable
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, desktop-file-utils
Provides: mail-reader, icedove, thunderbird-esr, thunderbird
Replaces: thunderbird-esr, thunderbird
Conflicts: thunderbird-esr, thunderbird
Description: mail/news client with RSS and integrated spam filter support
 Thunderbird is a free e-mail client. It supports different mail accounts
 (POP, IMAP, Gmail), has an integrated learning Spam filter, and offers easy
 organization of mails with tagging and virtual folders. Also, more features
 can be added by installing extensions.
 .
 The goal of Thunderbird is to produce a cross platform standalone mail
 application using the XUL user interface language.
