Source: pygame
Section: python
Priority: optional
Maintainer: Ed Boraas <ed@debian.org>
Uploaders:
 A Mennucc1 <mennucc1@debian.org>,
 Vincent Cheng <Vincentc1208@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libavformat-dev,
 libfreetype6-dev,
 libjpeg-dev,
 libpng-dev,
 libportmidi-dev [linux-any],
 libsdl-image1.2-dev (>= 1.2.0-1.1),
 libsdl-mixer1.2-dev (>= 1.2.0-1.1),
 libsdl-ttf2.0-dev (>= 1.2.2-1.1),
 libsdl1.2-dev (>= 1.2.2-3.1),
 libsmpeg-dev (>= 0.4.5+cvs20030824-1.3),
 libswscale-dev,
 python-all-dev (>= 2.6.6-3~),
 python-numpy,
 python-pygame,
 python3-all-dev,
 sharutils
Standards-Version: 3.9.3
X-Python-Version: >= 2.3
X-Python3-Version: >= 3.2
Homepage: http://www.pygame.org/
Vcs-Svn: svn://svn.debian.org/svn/collab-maint/deb-maint/pygame/trunk
Vcs-Browser: http://svn.debian.org/wsvn/collab-maint/deb-maint/pygame/trunk

Package: python-pygame
Architecture: any
Depends:
 fonts-freefont-ttf,
 libjs-sphinxdoc,
 python-numpy,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Suggests: timidity
Provides: ${python:Provides}
Replaces: python2.3-pygame, python2.4-pygame
Conflicts: python2.3-pygame, python2.4-pygame
Description: SDL bindings for games development in Python (Python 2)
 A multimedia development kit for Python. Pygame provides modules for you
 to access the video display, play sounds, track time, read the mouse and
 joystick, control the CD player, render true type fonts and more. It does
 this using mainly the cross-platform SDL library, a lightweight wrapper
 to OS-specific APIs.
 .
 This package also includes Pygame's API documentation and examples.
 .
 This is the Python 2 version of the package.

Package: python3-pygame
Architecture: any
Depends:
 fonts-freefont-ttf,
 libjs-sphinxdoc,
 python3-numpy,
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends}
Suggests: timidity
Provides: ${python3:Provides}
Description: SDL bindings for games development in Python (Python 3)
 A multimedia development kit for Python. Pygame provides modules for you
 to access the video display, play sounds, track time, read the mouse and
 joystick, control the CD player, render true type fonts and more. It does
 this using mainly the cross-platform SDL library, a lightweight wrapper
 to OS-specific APIs.
 .
 This package also includes Pygame's API documentation and examples.
 .
 This is the Python 3 version of the package.
