Source: kivy
Section: python
Priority: optional
Maintainer: Vincent Cheng <Vincentc1208@gmail.com>
Build-Depends:
 cython,
 debhelper (>= 9),
 libgl1-mesa-dev,
 libgles2-mesa-dev,
 python (>= 2.7),
 python-all-dev
X-Python-Version: >= 2.7
Standards-Version: 3.9.4
Homepage: http://kivy.org/

Package: python-kivy
Architecture: any
Depends:
 gstreamer0.10-plugins-good,
 python-docutils,
 python-enchant,
 python-gst0.10,
 python-opengl,
 python-pygame,
 python-pygments,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Description: Kivy - Multimedia / Multitouch framework in Python
 Kivy is an open source library for developing multi-touch applications. It is
 completely cross platform (Linux/OSX/Win/Android) and released under the terms
 of the GNU LGPL V3.
 .
 It comes with native support for many multi-touch input devices, a growing
 library of multi-touch aware widgets, hardware accelerated OpenGL drawing, and
 an architecture that is designed to let you focus on building custom and highly
 interactive applications as quickly and easily as possible.
 .
 Kivy is a mixed Python library with Cython code, to take advantage of its
 highly dynamic nature and use any of the thousands of high quality and open
 source python libraries out there, with the speed of C code.

Package: python-kivy-examples
Architecture: all
Depends: python-kivy, ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Kivy - Multimedia / Multitouch framework in Python (examples)
 Kivy is an open source library for developing multi-touch applications. It is
 completely cross platform (Linux/OSX/Win/Android) and released under the terms
 of the GNU LGPL V3.
 .
 It comes with native support for many multi-touch input devices, a growing
 library of multi-touch aware widgets, hardware accelerated OpenGL drawing, and
 an architecture that is designed to let you focus on building custom and highly
 interactive applications as quickly and easily as possible.
 .
 Kivy is a mixed Python library with Cython code, to take advantage of its
 highly dynamic nature and use any of the thousands of high quality and open
 source python libraries out there, with the speed of C code.
 .
 This package includes all examples bundled with the library.
