Source: linux-vclaptop
Section: kernel
Priority: optional
Maintainer: Vincent Cheng <vcheng@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9.20120115), cpio, python, bc, gcc-4.9 [amd64]
Homepage: http://www.vcheng.org/

Package: linux-image-4.0-4-vclaptop-amd64
Architecture: amd64
Provides: linux-modules-4.0-4-vclaptop-amd64
Pre-Depends: debconf | debconf-2.0
Depends: kmod, ${misc:Depends}, initramfs-tools [amd64] | linux-initramfs-tool [amd64]
Recommends: firmware-linux-free
Suggests: linux-doc-4.0, crda [amd64], grub-pc [amd64] | extlinux [amd64] | grub-efi-amd64 [amd64]
Conflicts: r8168-dkms, hal
Description: Linux 4.0 for 64-bit PCs
 The Linux kernel 4.0 and modules for use on PCs with AMD64 or Intel 64
 processors.

Package: linux-image-vclaptop-amd64
Architecture: amd64
Section: metapackages
Priority: extra
Depends: linux-image-4.0-4-vclaptop-amd64 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-vclaptop-amd64 (= ${binary:Version})
Description: Linux image for vclaptop on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for vclaptop.

Package: linux-headers-vclaptop-amd64
Architecture: amd64
Section: metapackages
Priority: extra
Depends: linux-headers-4.0-4-vclaptop-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux headers for vclaptop on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for vclaptop.

Package: linux-headers-4.0-4-vclaptop-amd64
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc-4.9
Conflicts: r8168-dkms
Description: Header files for Linux 4.0-4-vclaptop-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 4.0-4-vclaptop-amd64, generally used for building out-of-tree
 kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-4.0-4-vclaptop-amd64, and can be used for building
 modules that load into the kernel provided by the
 linux-image-4.0-4-vclaptop-amd64 package.

