Source: linux-vclaptop
Section: kernel
Priority: optional
Maintainer: Vincent Cheng <vcheng@debian.org>
Standards-Version: 3.9.2
Build-Depends: debhelper, cpio, module-init-tools, python, dpkg-dev, bc, gcc-4.8 [amd64]
Homepage: http://kernel.org/

Package: linux-image-3.13-5-vclaptop-amd64
Architecture: amd64
Provides: linux-image, linux-modules-3.13-5-vclaptop-amd64
Pre-Depends: debconf | debconf-2.0
Depends: module-init-tools, bc, ${shlibs:Depends}, ${misc:Depends}, initramfs-tools [amd64] | linux-initramfs-tool [amd64]
Recommends: firmware-linux-free (>= 3~)
Suggests: linux-doc-3.13, grub2 [amd64] | grub-gfxboot [amd64] | grub-legacy [amd64], crda [amd64]
Description: Linux 3.13 for 64-bit PCs
 The Linux kernel 3.13 and modules for use on PCs with AMD64 or Intel 64
 processors.

Package: linux-image-vclaptop-amd64
Architecture: amd64
Priority: extra
Depends: linux-image-3.13-5-vclaptop-amd64 (= ${binary:Version}), ${misc:Depends}
Recommends: linux-headers-vclaptop-amd64 (= ${binary:Version})
Description: Linux image for vclaptop on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for vclaptop.

Package: linux-headers-vclaptop-amd64
Architecture: amd64
Priority: extra
Depends: linux-headers-3.13-5-vclaptop-amd64 (= ${binary:Version}), ${misc:Depends}
Description: Linux headers for vclaptop on 64-bit PCs
 This metapackage depends on the latest binary image for Linux kernel on
 PCs with AMD64 or Intel 64 processors machines for vclaptop.

Package: linux-headers-3.13-5-vclaptop-amd64
Architecture: amd64
Provides: linux-headers
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc-4.8
Description: Header files for Linux 3.13-5-vclaptop-amd64
 This package provides the architecture-specific kernel header files for
 Linux kernel 3.13-5-vclaptop-amd64, generally used for building
 out-of-tree kernel modules.  These files are going to be installed into
 /usr/src/linux-headers-3.13-5-vclaptop-amd64, and can be used for building
 modules that load into the kernel provided by the
 linux-image-3.13-5-vclaptop-amd64 package.

