Source: intellij-idea-ultimate
Section: editors
Priority: optional
Maintainer: Vincent Cheng <vcheng@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.2.1
Homepage: https://www.jetbrains.com/idea/

Package: intellij-idea-ultimate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Most Intelligent Java IDE
 Excel at enterprise, mobile and web development with Java, Scala and Groovy,
 with all the latest modern technologies and frameworks available out of the
 box.
