Source: rhythmbox-tray-icon
Section: gnome
Priority: optional
Maintainer: Vincent Cheng <vcheng@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://mendhak.github.com/rhythmbox-tray-icon/
Vcs-Git: git://github.com/mendhak/rhythmbox-tray-icon.git
Vcs-Browser: https://github.com/mendhak/rhythmbox-tray-icon.git

Package: rhythmbox-tray-icon
Architecture: all
Depends:
 gir1.2-gdkpixbuf-2.0,
 gir1.2-gtk-3.0,
 gir1.2-rb-3.0,
 gnome-icon-theme-full | gnome-icon-theme,
 python-gi-cairo,
 rhythmbox (>=2.90),
 ${misc:Depends}
Description: tray icon to control basic Rhythmbox features
 A tray icon to control basic Rhythmbox features. Requires Rhythmbox 2.9+.
 .
 You can rate the track, play/pause, go previous, go next, or quit.
