Source: gnome-themes-zukitwo-colors
Section: gnome
Priority: optional
Maintainer: Vincent Cheng <Vincentc1208@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://gnome-look.org/content/show.php?content=146290

Package: gnome-themes-zukitwo-colors
Architecture: all
Depends:
 gtk2-engines-murrine (>= 0.98.1.1),
 gtk2-engines-pixbuf,
 gtk3-engines-unico (>= 1.0.2),
 libgtk-3-0 (>= 3.4),
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 gnome-tweak-tool
Suggests:
 gnome-brave-icon-theme,
 gnome-dust-icon-theme,
 gnome-human-icon-theme,
 gnome-illustrious-icon-theme,
 gnome-noble-icon-theme,
 gnome-wine-icon-theme,
 gnome-wise-icon-theme
Description: colourful GTK3-compatible theme set reminiscent of Shiki-Colors
 These themes started as a project to create a colourful, GTK3-compatible theme
 set reminiscent of Shiki-Colors. Since I have no real GTK2 or GTK3 theme
 design or creation experience, I borrowed a well-designed theme I had been
 using since I started using GNOME 3, Zukitwo-Dark, and tweaked it until it
 resembled Shiki-Colors while retaining the Zukitwo look and feel.
 .
 This theme set contains GTK2, GTK3, GNOME Shell and Cinnamon themes in all 7
 colours from Shiki-Colors (Brave, Dust, Human, Illustrious, Noble, Wine and
 Wise), as well as colour-neutral GNOME Shell and Cinnamon themes
 (Zukitwo-Colors) and Metacity/Mutter and XFWM themes for Dust (Zukitwo-Dust)
 and the rest (Zukitwo-Colors). (Zukitwo-Dust has separate Metacity/Mutter and
 XFWM themes as part of its colour-scheme.)
 .
 I recommend using the GNOME-Colors icons themes with this theme set, since
 these themes were created with the intention of being a GTK3-compatible
 alternative to Shiki-Colors, and fit very well with the corresponding icon
 themes.
