#!/usr/bin/make -f

CC := ccache $(CC)
CXX := ccache $(CXX)

%:
	dh $@ --parallel --with quilt --builddirectory=build

override_dh_auto_configure:
	cp make/variant/linux.defs make/variant/kfreebsd.defs
	cp debian/A01-gcc4.6.patch contrib/mpeg2dec

	./configure --prefix=/usr --build build \
	CC="$(CC)" CXX="$(CXX)"

#	--gcc="gcc distcc" \

# Only for git release.
# make/configure.py must be patched
# For svn release :
#    self.rev = unofficial
#    self.rev = svn version
# For normal release :
#    self.rev = release

#	exit 1

override_dh_builddeb:
	dh_builddeb -- -Zbzip2

override_dh_clean:
	dh_clean download/*tar* make/variant/kfreebsd.defs \
	contrib/mpeg2dec/A01-gcc4.6.patch	
